fastapi
uvicorn
python-multipart
pandas
numpy
scikit-learn
PyPDF2
sentence-transformers
matplotlib
seaborn


fastapi==0.110.1
uvicorn[standard]==0.29.0
PyPDF2==3.0.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
sentence-transformers==2.6.1
python-multipart==0.0.9
